
<div class="container">
  <h3 class="text-center">Registeration Form</h3>
  <div>
    <form class="form-group" [formGroup]="registerationFormGroup" (ngSubmit)= " onSubmit()">
      <label for="exampleInputEmail1">Name</label>
      <div class="row">
        <div class="col-md-6">
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            formControlName="firstName" />
          <div *ngIf="(form.firstName.valid || form.firstName.untouched) ">
            <small id="emailHelp" class="form-text text-muted">First Name</small>
          </div>

          <div *ngIf="
              form.firstName.invalid &&
              (form.firstName.touched || form.firstName.dirty)
            ">
            <small *ngIf="form.firstName.errors?.required" id="emailHelp" class="form-text text-danger">First name is
              required</small>
            <small *ngIf="form.firstName.errors?.maxlength" id="emailHelp" class="form-text text-danger">First name
              cannot be long than 32 characters</small>
          </div>
        </div>
        <div class="col-md-6">
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            formControlName="lastName" />
          <div *ngIf="form.lastName.valid || form.lastName.untouched">
            <small id="emailHelp" class="form-text text-muted">Last Name</small>
          </div>
          <div *ngIf="
              form.lastName.invalid &&
              (form.lastName.touched || form.lastName.dirty)
            ">
            <small *ngIf="form.lastName.errors.required" id="emailHelp" class="form-text text-danger">Last Name is
              required</small>
            <small *ngIf="form.lastName.errors.maxlength" id="emailHelp" class="form-text text-danger">Last name cannot
              be long than 32 characters</small>
          </div>
        </div>
      </div>
      <label for="exampleInputEmail1" class="mt-3">E-mail</label>
      <div class="row">
        <div class="col-md-12">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter email" formControlName="email" />
          <div *ngIf="
              form.email.invalid && (form.email.touched || form.email.dirty)
            ">
            <small *ngIf="form.email.errors.required" id="emailHelp" class="form-text text-danger">Email is
              required</small>
            <small *ngIf="form.email.errors.email" id="emailHelp" class="form-text text-danger">The given email is
              inappropriated</small>
          </div>
        </div>
      </div>
      <label for="exampleInputPhoneNumber" class="mt-3">Phone Number</label>
      <div class="row inline-block">
        <div class="col-md-6 inline-block">
          <div class="row">
            <div class="col-md-3 pr-0">
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                formControlName="areaCode" />
              <div *ngIf="form.areaCode.valid || form.areaCode.untouched">
                <small id="emailHelp" class="form-text text-muted mb-2">Area Code</small>
              </div>

              <div *ngIf="
                  form.areaCode.invalid &&
                  (form.areaCode.touched || form.areaCode.dirty)
                ">
                <small *ngIf="form.areaCode.errors?.required" id="emailHelp" class="form-text text-danger">Area code is
                  required</small>
                <small *ngIf="form.areaCode.errors?.pattern" id="emailHelp" class="form-text text-danger">Number
                  only</small>
              </div>
            </div>
            <div class="col-md-9 pr-0">
              <input type="text" class="form-control inline-block" id="exampleInputEmail1" aria-describedby="emailHelp"
                formControlName="phoneNumber" />
              <div *ngIf="form.phoneNumber.valid || form.phoneNumber.untouched">
                <small id="emailHelp  " class="form-text text-muted mb-2">Phone Number</small>
              </div>

              <div *ngIf="
                  form.phoneNumber.invalid &&
                  (form.phoneNumber.touched || form.phoneNumber.dirty)
                ">
                <small *ngIf="form.phoneNumber.errors?.required" id="emailHelp" class="form-text text-danger">Phone
                  number is required</small>
                <small *ngIf="form.phoneNumber.errors?.pattern" id="emailHelp" class="form-text text-danger">Number
                  only</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <label for="exampleInputEmail1">Password</label>
      <div class="row">
        <div class="col-md-6" formGroupName="password">
          <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            formControlName="pass" />
          <div *ngIf="
              form.password.get('pass').valid ||
              form.password.get('pass').untouched
            ">
            <small id="emailHelp" class="form-text text-muted">Password</small>
          </div>

          <div *ngIf="
              form.password.get('pass').invalid &&
              (form.password.get('pass').touched ||
                form.password.get('pass').dirty)
            ">
            <small *ngIf="form.password.get('pass').errors?.required" id="emailHelp"
              class="form-text text-danger">Password is required</small>
            <small *ngIf="form.password.get('pass').errors?.maxlength" id="emailHelp"
              class="form-text text-danger">Password cannot be longer than 128</small>
            <small *ngIf="form.password.get('pass').errors?.minlength" id="emailHelp"
              class="form-text text-danger">Password must be longer than 8</small>
          </div>
        </div>
        <div class="col-md-6" formGroupName="password">
          <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            formControlName="confirmPass" />
          <div *ngIf="
              form.password.get('confirmPass').valid ||
              form.password.get('confirmPass').untouched
            ">
            <small id="emailHelp" class="form-text text-muted">Confirm Password</small>
          </div>

          <div *ngIf="
              form.password.get('confirmPass').invalid &&
              (form.password.get('confirmPass').touched ||
                form.password.get('confirmPass').dirty)
            ">
            <small *ngIf="form.password.get('confirmPass').errors?.required" id="emailHelp"
              class="form-text text-danger">Confirm Password is required</small>
            <small *ngIf="form.password.get('confirmPass').errors?.maxlength" id="emailHelp"
              class="form-text text-danger">Confirm Password cannot be longer than 128</small>
            <small *ngIf="form.password.get('confirmPass').errors?.minlength" id="emailHelp"
              class="form-text text-danger">Confirm Password must be longer than 8</small>
            <small *ngIf="form.password.errors?.passwordsNotMatch" id="emailHelp" class="form-text text-danger">Password
              does not match</small>
          </div>
        </div>
      </div>
      <label for="exampleInputPhoneNumber" class="mt-3">Address</label>
      <div class="row inline-block">
        <div class="col-md-12 inline-block">
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            formControlName="address1" />
          <div *ngIf="form.address1.valid || form.address1.untouched">
            <small id="emailHelp  " class="form-text text-muted mb-2">Address</small>
          </div>

          <div *ngIf="
              form.address1.invalid &&
              (form.address1.touched || form.address1.dirty)
            ">
            <small *ngIf="form.address1.errors?.required" id="emailHelp" class="form-text text-danger">Address is
              required</small>
          </div>
          <input type="text" class="form-control inline-block" id="exampleInputEmail1" aria-describedby="emailHelp"
            formControlName="address2" />
          <div *ngIf="form.address2.valid || form.address2.untouched">
            <small id="emailHelp" class="form-text text-muted mb-2">Street Address Line 2</small>
          </div>

          <div *ngIf="
              form.address2.invalid &&
              (form.address2.touched || form.address2.dirty)
            ">
            <small *ngIf="form.address2.errors?.required" id="emailHelp" class="form-text text-danger">Address is
              required</small>
          </div>
        </div>
      </div>
      <div class="row inline-block">
        <div class="col-md-6 inline-block">
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            formControlName="city" />
          <div *ngIf="form.city.valid || form.city.untouched">
            <small id="emailHelp" class="form-text text-muted mb-2">City</small>
          </div>

          <div *ngIf="form.city.invalid && (form.city.touched || form.city.dirty)">
            <small *ngIf="form.city.errors?.required" id="emailHelp" class="form-text text-danger">City is
              required</small>
          </div>
        </div>
        <div class="col-md-6">
          <input type="text" class="form-control inline-block" id="exampleInputEmail1" aria-describedby="emailHelp"
            formControlName="state" />
          <div *ngIf="form.state.valid || form.state.untouched">
            <small id="emailHelp" class="form-text text-muted mb-2">State/City</small>
          </div>

          <div *ngIf="
              form.state.invalid && (form.state.touched || form.state.dirty)
            ">
            <small *ngIf="form.state.errors?.required" id="emailHelp" class="form-text text-danger">State is
              required</small>
          </div>
        </div>
      </div>
      <div class="row inline-block">
        <div class="col-md-6 inline-block">
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            formControlName="postal" />
          <div *ngIf="form.postal.valid || form.postal.untouched">
            <small id="emailHelp" class="form-text text-muted">Postal / Zip Code</small>
          </div>

          <div *ngIf="
              form.postal.invalid && (form.postal.touched || form.postal.dirty)
            ">
            <small *ngIf="form.postal.errors?.required" id="emailHelp" class="form-text text-danger">Postal / Zip Code
              is required</small>
            <small *ngIf="form.postal.errors?.pattern" id="emailHelp" class="form-text text-danger">Number only</small>
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-group">
            <select class="custom-select" id="inputGroupSelect03" formControlName="country">
              <option value="Cambodia">Cambodia</option>
              <option value="Chinese">Chinese</option>
              <option value="Vietnam">Vietnam</option>
            </select>
          </div>
          <small id="emailHelp" class="form-text text-muted">Country</small>
        </div>
      </div>
      <label for="exampleInputEmail1" class="mt-3">BirthDate</label>
      <div class="row inline-block">
        <div class="col-md-4">
          <div class="input-group">
            <select class="custom-select" id="inputGroupSelect03" formControlName="month">
              <option value={{a+1}} *ngFor="let i of [].constructor(12);let a=index">{{a+1}}</option>
            </select>
          </div>
          <small id="emailHelp" class="form-text text-muted">Month</small>
        </div>
        <div class="col-md-4">
          <div class="input-group">
            <select class="custom-select" id="inputGroupSelect03" formControlName="day">
              <option value={{a+1}} *ngFor="let i of [].constructor(30);let a=index">{{a+1}}</option>
            </select>
          </div>
          <small id="emailHelp" class="form-text text-muted">Day</small>
        </div>
        <div class="col-md-4">
          <div class="input-group">
            <select class="custom-select" id="inputGroupSelect03" formControlName="year">
              <option value="2020">2020</option>
              <option value="2019">2019</option>
              <option value="2018">2018</option>
            </select>
          </div>
          <small id="emailHelp" class="form-text text-muted">Year</small>
        </div>
      </div>
      <h5 class="mt-5">Where did you hear about us?</h5>
      <div class="form-check" formGroupName="hearby">
        <input class="form-check-input" type="checkbox" value="A friend or colleauge" id="defaultCheck1" formControlName="fri" />
        <label class="form-check-label" for="defaultCheck1">
          A friend or colleauge
        </label>
      </div>
      <div class="form-check" formGroupName="hearby">
        <input class="form-check-input" type="checkbox" value="Google" id="defaultCheck2" formControlName="google" />
        <label class="form-check-label" for="defaultCheck2"> Google </label>
      </div>
      <div class="form-check" formGroupName="hearby">
        <input class="form-check-input" type="checkbox" value="Blog post" id="defaultCheck3" formControlName="blog" />
        <label class="form-check-label" for="defaultCheck3"> Blog post </label>
      </div>
      <div class="form-check" formGroupName="hearby">
        <input class="form-check-input" type="checkbox" value="News Article" id="defaultCheck4" formControlName="news"/>
        <label class="form-check-label" for="defaultCheck4">
          News Article
        </label>
      </div>
      
      <h5 class="mt-3">Membership Rules</h5>
    <hr />
    <p>1. Membership is available to anyone 18 years of age or older.</p>
    <p>
      2. You promise NOT to use to conduct any fraudulent or business activity
      or have more than one Member Account at any time.
    </p>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="membershipRule" />
      <label class="form-check-label" for="exampleCheck1">I have read, understood, and accepted the rules for
        membership.</label>
    </div>
    <h5 class="mt-4">Privacy Policy</h5>
    <hr />
    Please reach out and read our Privacy Policy in order to understand how your
    information is used and shared, and check below if you accept the policy.
    <p></p>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck2" formControlName="privacyPolicy" />
      <label class="form-check-label" for="exampleCheck2">I have read, understood, and accepted the PRIVACY POLICY for
        membership.</label>
    </div>
    <p class="text-center mt-3">
      <i>Once you submit your application, we will contact you shortly to
        complete your</i>
    </p>
    <p class="text-center">
      <i>membership application.</i>
    </p>
    <p class="text-center">
      <i>Thank you.</i>
    </p>
    <hr />
    <div class="text-center">

      <button type="submit" class="btn btn-success" [disabled]="registerationFormGroup.invalid" >Submit Application</button>
    </div>
   
    </form>
    
  </div>
</div>